@media (min-width: 1900px){
    h1 {
        position: relative;
        font-size: 52px;
        margin-left: 812px;
        top: 374px;
    }

    .banner img {
        width: 270px;
        height: 416px;
        left: 1450px;
        top: 48px;
    }

    #dreamgirl {
        font-size: 36px;
        top: 48px;
        left: 1400px;
    }

    .box-present img {
        top: 722px;

    }

    #chocolate {
        left: 74%;
    }

    #pix {
        left: 79%;
    }

    #blouse-shein {
        left: 84%;
    }

    #book {
        left: 89%;
    }

    #lobo-pede {
        width: 300px;
        height: 235px;
        left: 1440px;
        top: 630px;
    }

    .fake-template img {
        width: 270px;
        height: 416px;
        left: 168px;
        top: -88px;
    }

    #fake-button {
        font-size: 36px;
        top: 44px;
        left: 124px;
    }

    .fake-template span {
        font-size: 40px;
        left: 192px;
        top: 348px;
    }

    section h2 {
        text-align: center;
        font-size: 30px;
        left: 16px;
        top: 48px;
    }

    section h3 {
        text-align: center;
        font-size: 24px;
        left: 0px;
        top: 160px;
    }

    #timeline {
        font-size: 36px;
        top: 108px;
        left: 64px;
    }

    #timeline-post h2 {
        font-size: 36px;
        left: 36px;
    }

    #timeline-post h3 {
        font-size: 28px;

    }

    #date1 h2{
        top: 28%;
    }

    #date1 h3 {
        top: 32%;
        left: 36px;
    }

    #date2 h2{
        top: 37%;
    }

    #date2 h3 {
        top: 41%;
        left: 36px;
    }

    #date3 h2{
        top: 50%;
    }

    #date3 h3 {
        top: 54%;
        left: 36px;
    }

    #date4 h2{
        top: 59%;
    }

    #date4 h3 {
        top: 63%;
        left: 36px;
    }

    #date5 h2{
        top: 68%;
    }

    #date5 h3 {
        top: 72%;
        left: 36px;
    }

    #date6 h2{
        top: 77%;
    }

    #date6 h3 {
        top: 81%;
        left: 36px;
    }

    #date7 h2{
        top: 86%;
    }

    #date7 h3 {
        top: 90%;
        left: 36px;
    }

}