@media (min-width: 1500px){
    h1 {
        position: relative;
        font-size: 40px;
        margin-left: 654px;
        top: 308px;
        color: azure;
    }

    p {
        font-size: 30px;
        left: 24px;
        margin-top: 12px;
    }

    /*Áudio do lobisom pidão*/
    #lobo-pede {
        left: 1170px;
        top: 678px;
    }
    /*Fim do Áudio do lobisomen pidão*/

    .banner img {
        width: 230px;
        height: 350px;
        left: 1175px;
        top: 48px;
    }

    .box-present img {
        top: 598px;

    }

    #chocolate {
        left: 75%;
    }

    #pix {
        left: 80%;
    }

    #blouse-shein {
        left: 85%;
    }

    #book {
        left: 90%;
    }


    #dreamgirl {
        font-size: 30px;
        top: 54px;
        left: 1140px;
    }

    .fake-template img {
        width: 230px;
        height: 350px;
        left: 104px;
        top: -64px;
    }

    #fake-button {
        font-size: 30px;
        top: 44px;
        left: 78px;
    }

    .fake-template span {
        font-size: 34px;
        left: 128px;
        top: 320px;
    }

    section h2 {
        text-align: center;
        font-size: 26px;
        left: 16px;
        top: 48px;
    }

    section h3 {
        text-align: center;
        font-size: 23px;
        left: 0px;
        top: 134px;
    }

    #timeline {
        font-size: 36px;
        top: 108px;
        left: 64px;
    }

    #timeline-post h2 {
        font-size: 30px;
        left: 36px;
    }

    #timeline-post h3 {
        font-size: 24px;

    }

    #date1 h2{
        top: 30%;
    }

    #date1 h3 {
        top: 34%;
        left: 36px;
    }

    #date2 h2{
        top: 39%;
    }

    #date2 h3 {
        top: 43%;
        left: 36px;
    }

    #date3 h2{
        top: 52%;
    }

    #date3 h3 {
        top: 56%;
        left: 36px;
    }

    #date4 h2{
        top: 61%;
    }

    #date4 h3 {
        top: 65%;
        left: 36px;
    }

    #date5 h2{
        top: 70%;
    }

    #date5 h3 {
        top: 74%;
        left: 36px;
    }

    #date6 h2{
        top: 79%;
    }

    #date6 h3 {
        top: 83%;
        left: 36px;
    }

    #date7 h2{
        top: 88%;
    }

    #date7 h3 {
        top: 92%;
        left: 36px;
    }

}