@media (min-width: 1400px) and (max-width: 1480px){
    p {
        top: 55%;
    }
    
    section h2 {
        font-size: 24px;
        left: 3%;
    }

    section h3 {
        font-size: 20px;
    }

    #timeline-post h2 {
        font-size: 24px;
    }

    #timeline-post h3 {
        font-size: 20px;
    }

    .box-present img{
        top: 76%;
    }

    #lobo-pede {
        top: 85%;
    }
    
}