@media (min-width: 1400px){
    h1 {
        position: relative;
        font-size: 36px;
        margin-left: 614px;
        top: 320px;
        color: azure;
    }

    p {
        left: 24px;
        margin-top: 16px;
    }

    /*Áudio do lobisom pidão*/
    #lobo-pede {
        left: 1080px;
    }
    /*Fim do Áudio do lobisomen pidão*/


    .banner img {
        left: 1100px;
        top: 64px;
    }

    #dreamgirl {
        top: 68px;
        left: 1064px;
    }

    .fake-template img {
        left: 128px;
        top: -24px;
       
    }

    #fake-button {
        top: 74px;
        left: 94px;
       
    }

    .fake-template span {
        font-size: 30px;
        left: 136px;
        top: 320px;
    }

    #chocolate {
        left: 75%;
    }

    #pix {
        left: 80%;
    }

    #blouse-shein {
        left: 85%;
    }

    #book {
        left: 90%;
    }

    section h2 {
        text-align: center;
        font-size: 24px;
        left: 24px;
        top: 64px;
    }

    section h3 {
        text-align: center;
        font-size: 20px;
        left: 8px;
        top: 144px;
    }

    #timeline {
        top: 56px;
        font-size: 30px;
        left: 56px;
       
    }

    #timeline-post h2 {
        font-size: 30px;
        color: #e63789;
        left: 36px;
    }

    #timeline-post h3 {
        font-size: 24px;

    }

    #date1 h2{
        top: 25%;
    }

    #date1 h3 {
        top: 29%;
        left: 36px;
    }

    #date2 h2{
        top: 35%;
    }

    #date2 h3 {
        top: 39%;
        left: 36px;
    }

    #date3 h2{
        top: 49%;
    }

    #date3 h3 {
        top: 53%;
        left: 36px;
    }

    #date4 h2{
        top: 59%;
    }

    #date4 h3 {
        top: 63%;
        left: 36px;
    }

    #date5 h2{
        top: 69%;
    }

    #date5 h3 {
        top: 73%;
        left: 36px;
    }

    #date6 h2{
        top: 79%;
    }

    #date6 h3 {
        top: 83%;
        left: 36px;
    }

    #date7 h2{
        top: 89%;
    }

    #date7 h3 {
        top: 93%;
        left: 36px;
    }
    
}