@media (max-width: 1280px){
    h1 {
        margin-left: 40%;
    }

    p {
        top: 50%;
        left: 74%;
    }

    .banner img {
        width: 180px;
        height: 300px;
    }

    .box-present img {
        top: 73%;
    
    }

    #lobo-pede {
        left: 73%;
        top: 82%;
    }

    #chocolate {
        left: 70%;
    }
    
    #pix {
        left: 77%;
    }
    
    #blouse-shein {
        left: 85%;
    }
    
    #book {
        left: 92%;
    }

    .fake-template img {
        width: 180px;
        height: 300px;
        left: 8%;
        top: 4%;
    }

    .fake-template span {
        font-size: 28px;
        left: 10%;
        top: 32%;
    }

    #fake-button {
        top: 5%;
        left: 5%;
      
    }

    section h2 {
        font-size: 20px;
        left: 3%;
    }

    section h3 {
        font-size: 16px;
    }

    #timeline-post h3 {
        font-size: 18px;
    }

}