section {
    color: azure;
    top: 15%;
    left: 3%;
}

@media screen and (min-width: 1000px){
    section h2 {
        font-size: 20px;
        left: 1%;
    }

    section h3 {
        font-size: 15px;
        left: 0%;
        top: 25%;
    }
}

@media screen and (min-width: 1400px){
    section h2 {
        font-size: 24px;
        left: 2%;
    }

    section h3 {
        font-size: 20px;
        top: 25%;
        left: 1%;
    }
}

.fake-template img{
    left: 8%;
    margin-top: 2%;
    border-radius: 10px;
    filter: opacity(.4);
    box-shadow: 2px 2px 2px 1px rgb(252, 250, 250);
}

.fake-template span {
    color: #ebf43c;
    font-size: 24px;
    top: 40%;
    left: 8.4%;
}

#fake-button {
    position: fixed;
    font-family: 'Amatic SC', cursive;
    background-color: rgba(0,0,0,0.5);
    font-size: 28px;
    top: 5%;
    left: 6%;
    color: #ebf43c;
    transform: rotate(-35deg);
    box-shadow: 5px 5px 10px;
}

#fake-button:hover {
    color: #3878de;
}